nav {
  border: none;
  background-color: #264653;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* Style the links inside the navigation bar */
a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 5px solid #2a9d8f;
}

/* Change the color of links on hover */
a:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

/* Add a color to the active/current link */
a.active {
  background-color: #e9c46a;
  color: black;
  font-weight: bolder;
  border-bottom: 5px solid #e76f51;
}

.ride-container {
  text-align: center;
  font-size: large;
  margin: 15px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px
  /* overflow: scroll; */
}

.ride-container div {
  border-radius: 20px;
  margin: 2px;
  box-shadow: 0 0 5px lightgray;
  z-index: 1;
  background: white;
}

.confetti-img {
  transform: rotate(180deg);
  width: 35%;
  position: absolute;
  bottom: 0;
  left: 0;

}

img {
  width: 100%;
}

/* Bordered form */
form {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

/* Full-width inputs */
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #2a9d8f;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}


/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}


.intineraries-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 25px;
  /* justify-content: center; */
}

.card {
  /* Add shadows to create the "card" effect */
  /* display: inline-block; */
  height: fit-content;
  vertical-align: top;
  min-height: 500px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  width: 100%;
  justify-content: center;
}

.card button {
  display: block;
  width: 35%;
  margin: auto 5px;
  margin-bottom: 5px;
  display: inline-block;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.theme-park-card {
    /* Add shadows to create the "card" effect */
    /* display: inline-block; */
    height: 500px;
    vertical-align: top;
    min-height: 500px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    max-width: 750px;
    justify-content: center;
    position: relative;
}

h1, h2 {
  text-align: center;
  border-bottom: 5px solid #e76f51;
  background-color: #e9c46a;
  color: black;
  text-shadow: 1px 1px 0px white;
  padding: 25px;
  margin: 0px;

  /* -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white; */
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
